.navBar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  &.hide {
    display: none;
  }

  button {
    width: 24px;
    height: 24px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: var(--text-color-02);
    transition: color 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--text-color-01);
    }

    &[disabled] {
      color: var(--text-color-03);
      cursor: not-allowed;
    }

    &.nextPage {
      transform: rotate(180deg);
    }
  }
}
