.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  button {
    margin: 1rem 0;
    font-size: 1.125rem;
    background-color: var(--button-bg-color);
    border: 0;
    padding: 0.5rem 0.625rem;
    border-radius: 4px;
    color: var(--text-color-02);
    font-weight: 800;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
      color: var(--text-color-01);
      background-color: var(--button-bg-color-hovered);
    }
  }

  .img {
    width: 100%;
    height: 687px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-image: url('/404.webp');
  }
}
