@import './variables.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--text-color-01);
  margin: 0;
  padding: 0 2rem 2rem;
  background-color: var(--bg-color);
  height: 100%;

  background-size: 240px;
  animation: bg-animate 15s linear infinite;
  background-image: url('/stars.svg');

  @keyframes bg-animate {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 240px 240px;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

.text-center {
  text-align: center;
}
