$form-button-size: 24px;

.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;

  form {
    display: flex;

    .inputAndResetWrapper {
      display: flex;
      align-items: center;
    }

    input {
      border: 1px solid var(--input-border-color);
      background-color: transparent;
      border-radius: 6px;
      padding: 0.5rem calc($form-button-size + 2px) 0.5rem 0.5rem;
      color: var(--text-color-01);
    }

    button {
      padding: 0;
      background-color: transparent;
      border-style: none;
      cursor: pointer;
    }

    .resetButton {
      width: 0;
      height: 0;
      position: relative;
      left: calc(-1 * ($form-button-size + 2px));
      top: calc(-1 * ($form-button-size + 2px) / 2);

      svg {
        width: $form-button-size;
        height: $form-button-size;
        fill: var(--icon-color);
      }
    }

    .submitButton {
      margin-left: 0.5rem;
      svg {
        width: $form-button-size;
        height: $form-button-size;

        path {
          stroke: var(--icon-color);
        }
      }
    }
  }
}
