.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;

  form {
    display: flex;

    input {
      border: 1px solid white;
      background-color: transparent;
      border-radius: 6px;
      padding: 8px 35px 8px 8px;
      color: white;
    }

    button {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
    }

    .resetButton {
      display: inline-block;
      width: 0;
      position: relative;
      left: -34px;
      top: 2px;

      svg {
        width: 24px;
        height: 24px;
        fill: white;
      }
    }

    .submitButton {
      margin-left: 8px;
      svg {
        width: 24px;
        height: 24px;

        path {
          stroke: white;
        }
      }
    }
  }
}
