.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;

  form {
    display: flex;

    input {
      border: 1px solid white;
      background-color: transparent;
      border-radius: 6px;
      padding: 8px 35px 8px 8px;
      color: white;
    }

    button {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
    }

    .resetButton {
      display: inline-block;
      width: 0;
      position: relative;
      left: -34px;
      top: 2px;

      svg {
        width: 24px;
        height: 24px;
        fill: white;
      }
    }

    .submitButton {
      margin-left: 8px;
      svg {
        width: 24px;
        height: 24px;

        path {
          stroke: white;
        }
      }
    }
  }
}

.navBar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  button {
    width: 24px;
    height: 24px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: rgba(white, 0.7);
    transition: color 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: white;
    }

    &[disabled] {
      color: rgba(white, 0.4);
      cursor: not-allowed;
    }

    &.nextPage {
      transform: rotate(180deg);
    }
  }
}
