html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 2rem;
  background-color: rgb(39, 43, 51);
  height: 100%;

  background-size: 240px;
  animation: bg-animate 15s linear infinite;
  background-image: url('/stars.svg');

  @keyframes bg-animate {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 240px 240px;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(27, 30, 36);
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.text-center {
  text-align: center;
}
