$small-screen: 40rem;

.characterCard {
  @media only screen and (max-width: $small-screen) {
    height: 120px;
  }

  cursor: pointer;
  width: 500px;
  height: 180px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  transition: height 250ms ease-in-out;
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  &.loading {
    position: relative;
    z-index: 44;
    overflow: hidden;
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      left: -45%;
      height: 100%;
      width: 45%;
      background-image: linear-gradient(
        to left,
        rgba(var(--card-bg-color, 0.05)),
        rgba(var(--card-bg-color, 0.3)),
        rgba(var(--card-bg-color, 0.6)),
        rgba(var(--card-bg-color, 0.3)),
        rgba(var(--card-bg-color, 0.05))
      );
      animation: loading 1.5s infinite;
      z-index: 45;
    }

    @keyframes loading {
      0% {
        left: -45%;
      }
      100% {
        left: 100%;
      }
    }
  }

  .characterImg {
    @media only screen and (max-width: $small-screen) {
      min-width: 120px;
      height: 120px;
    }

    min-width: 180px;
    height: 180px;
    transition: all 250ms ease-in-out;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .characterInfo {
    @media only screen and (max-width: $small-screen) {
      padding: 0.5rem 0.75rem;

      h3 {
        margin-bottom: 0.375rem;
      }

      p {
        margin: 0.375rem 0;
      }
    }

    padding: 1.25rem;
    color: var(--text-color-02);
    transition: color 250ms ease-in-out;
    width: 100%;
    overflow: hidden;

    &:hover {
      color: var(--text-color-01);
    }

    h3 {
      margin-top: 0;
    }

    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
