@import 'styles/variables.scss';

.status {
  &.Dead {
    background-color: $status-dead-bg-color;
  }

  &.Alive {
    background-color: $status-alive-bg-color;
  }

  &.unknown {
    background-color: $status-unknown-bg-color;
  }

  color: $status-text-color;
  border-radius: 4px;
  padding: 0.125rem 0.25rem;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}
