.status {
  &.Dead {
    background-color: var(--status-dead-bg-color);
  }

  &.Alive {
    background-color: var(--status-alive-bg-color);
  }

  &.unknown {
    background-color: var(--status-unknown-bg-color);
  }

  color: var(--status-text-color);
  border-radius: 4px;
  padding: 0.125rem 0.25rem;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}
